body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: $body-color;
  font-family: $roboto;
  color: $font-color;
  background-image: url('../images/diagonal-background.svg');
  background-attachment: scroll;
  background-position: center top;
  background-repeat: no-repeat;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
  margin-left: 0.5em;
}

// BUTTON OVERIDES

.btn {
  &.btn-blue {
    background-color: #88c0d0;
    color: #434c5e;

    &:hover {
      background-color: darken(#88c0d0, 10%);
    }
  }

  &.btn-yellow {
    background-color: $highlight;
    color: $font-color;

    &:hover {
      background-color: darken($highlight, 10%);
      color: $font-color;
    }
  }

  &.btn-dark-outline {
    border: 1px solid $font-color;
    color: $font-color;

    &:hover {
      border: 1px solid #2e3440;
      color: #2e3440;
      transition: 200ms;
    }
  }

  &.btn-submit {
    background-color: $highlight;
    color: #3b4252;

    &:hover {
      background-color: darken($highlight, 10%);
      transition: 200ms;
    }
  }

  &.btn-red {
    border: 1px solid #bf616a;
    color: #bf616a;

    div {
      display: flex;
      justify-content: space-around;
      align-items: center;

      p {
        margin: 0 0 0 1em;
      }
    }

    &:hover {
      background-color: #bf616a;
      color: $body-color;

      div {
        div {
          box-shadow: 1px 1px 5px $body-color, -1px -1px 5px $body-color, -1px 1px 5px $body-color,
            1px -1px 5px $body-color;
        }
      }
    }
  }
}
