:root {
	/* COLORS */
	--color-light: #eceff4;
	--color-dark: #2e3440;
	--color-primary-dark: #3b4252;
	--color-primary: #5e81ac;
	--color-primary-light: #88c0d0;
	--color-primary-lighter: #d8dee9;
	--color-secondary: #bf616a;
	--color-highlight-darkest: #3a3222;
	--color-highlight-darker: #877248;
	--color-highlight: #ebcb8b;
	--color-shoppies-light: #f8f9fa;

	--color-background: var(--color-light);
	--color-background-footer: var(--color-primary-dark);
	--color-text: var(--color-primary-dark);
	--color-link: var(--color-primary);
	--color-link-hover: var(--color-primary-dark);

	/*FONTS*/
	--font-family: 'Nunito', sans-serif;
	--font-family-header: 'Rowdies', sans-serif;

	/* RADIUS */
	--radius-box: 0.375rem;
	--radius-full: 50%;

	/* PADDING */
	--padding-y: 0.75rem;
	--padding-button: var(--padding-y) 2rem;
	--padding-input: var(--padding-y) 1.25rem;
	--padding-switch: var(--padding-y) 1.5rem;
	--padding-section-small: 2rem;
	--padding-section-large: 4rem;
	--padding-section: var(--padding-section-small) 0;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: var(--color-background);
	font-family: var(--font-family);
	color: var(--color-text);

	&.dark {
		-webkit-font-smoothing: antialiased;
		--color-background: var(--color-primary-dark);
		--color-background-footer: var(--color-dark);
		--color-text: var(--color-light);
		--color-link: var(--color-primary-light);
		--color-link-hover: var(--color-primary);
	}
}

h1 {
	font-weight: 700;
	font-family: var(--font-family-header);
	margin: 0;
	padding: 0;
}

h2 {
	margin: 0;
	padding: 0;
}

h3 {
	font-size: 30px;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

// BUTTON OVERIDES

.btn {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.2ch;
	padding: var(--padding-button);
	transition: 200ms;

	&.btn-blue {
		background-color: var(--color-primary-light);
		color: var(--color-dark);

		&:hover {
			$primary-light: #88c0d0;
			background-color: darken($primary-light, 10%);
		}
	}

	&.btn-yellow {
		background-color: var(--color-highlight);
		color: var(--color-primary-dark);

		&:hover {
			$highlight: #ebcb8b;
			background-color: darken($highlight, 10%);
			color: var(--color-primary-dark);
		}
	}

	&.btn-dark-outline {
		border: 1px solid var(--color-primary-dark);
		color: var(--color-primary-dark);

		&:hover {
			border: 1px solid var(--color-dark);
			color: var(--color-dark);
		}
	}

	&.btn-submit {
		background-color: var(--color-highlight);
		color: var(--color-primary-dark);

		&:hover {
			$highlight: #ebcb8b;
			background-color: darken($highlight, 10%);
		}
	}

	&.btn-red {
		border: 1px solid var(--color-secondary);
		color: var(--color-secondary);

		div {
			display: flex;
			justify-content: space-around;
			align-items: center;

			p {
				margin: 0 0 0 1em;
			}
		}

		&:hover {
			background-color: var(--color-secondary);
			color: var(--color-light);

			div {
				div {
					box-shadow: 1px 1px 5px var(--color-light),
						-1px -1px 5px var(--color-light), -1px 1px 5px var(--color-light),
						1px -1px 5px var(--color-light);
				}
			}
		}
	}
}

.form-switch {
	display: flex;
	align-items: center;

	.form-label {
		margin: 0;
		margin-left: 0.5rem;
		color: var(--color-text);
		font-weight: 700;
		font-size: 1.25rem;
	}
	.form-check-input {
		border-color: var(--bs-body-bg);
		padding: var(--padding-switch);
		margin-top: 0;

		&:checked {
			background-color: var(--color-highlight);
			border-color: var(--color-highlight);

			&:focus {
				border-color: var(--color-highlight);
			}
		}

		&:focus {
			box-shadow: none;
			outline: 2px solid var(--color-primary-light);
			outline-offset: 2px;
		}
	}
}
